.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #434455;
}

:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --accent-color: #ff6c00;
}

body {
    font-family: Roboto, sans-serif;
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: #ff600f;
}

.menu-list-link:visited {
    color: blueviolet;
}

.menu-list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #2E2F42;
}

.logo {
    width: 44px;
    height: 21px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.logo-studio {
    color: #2E2F42;
}

.address-item {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-section {
    background-color: #2E2F42;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button {
    font-family: inherit;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.top-principles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.principle-descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-section {
    background-color: #F4F4FD;
}

.buttons {
    background-color: #F4F4FD;
    text-decoration-color: #4D5AE5;
    cursor: pointer;
}

.buttons:hover .buttons:focus {
    color: #ff600f;
}

/*footer*/
.footer {
    background-color: #2E2F42;
}

.logo-foot-studio {
    color: #ffffff;
}

.footer-descript {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}